body {
    text-align: center;
     background-color: rgb(130 210 181); 
    background-image: url('W9k1.gif') ;
}

.img {
    width: 170px;
    margin-right: 10px;
}

.img_2 {
    width: 300px;
    margin-right: 10px;
}

.img_3 {
    width: 150px;
    padding: 10px;
}

.img_footer {
    width: 300px;
    margin-right: 10px;
}

